# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.env

# Logs and databases
*.log
*.sqlite

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency directories
/.venv
/.tox

# Archivos de power point
*.pptx